.idea/
.vscode/


*__pycache__*
/.pytest_cache/
*.ipynb_checkpoints/
*.pyc
*.code-workspace

## build objects
*.egg-info*
/build/
/dist/

# coverage artefacts
/.coverage*
/coverage.xml
*log.yaml
*.lcov

# data
*.pkl
*log.json
*log.ipynb
*log.yaml

# testing mess
*.inp
*.out
*.manifest
*.log
/dataset-*.yaml
