numpy
scipy
torch
rdflib
matplotlib
networkx
pyvis
tqdm
PyWavelets
openai
graphviz
instructor
requests
llama-cpp-python
pydantic
tenacity
anthropic
transformers
puremagic
markdownify
mammoth
pandas
pdfminer.six
python-pptx
pydub
beautifulsoup4
markupsafe
youtube-transcript-api
PyMuPDF
SpeechRecognition
spacy
scikit-learn
pykeen
pytest
fparser
rapidfuzz