openai
anthropic
motor
aiosqlite
numpy
#faiss-gpu
#sentence-transformers
fastapi
uvicorn
instructor
bs4
esprima
escodegen
sounddevice
soundfile
pydub
flask_socketio
# CMAKE_ARGS="-DGGML_CUDA=on" pip install --force-reinstall --no-cache-dir llama-cpp-python
pinecone
jsonpatch
pexpect
# python -m pip install aider-install
# aider-install
rdflib
PyWavelets
open-fortran-parser
tree_sitter
fparser

scipy
torch
rdflib
matplotlib
networkx
pyvis
tqdm
PyWavelets
graphviz
requests
pydantic
tenacity
transformers
puremagic
markdownify
mammoth
pandas
pdfminer.six
python-pptx
pydub
beautifulsoup4
markupsafe
youtube-transcript-api
PyMuPDF
SpeechRecognition
spacy
scikit-learn
pykeen
fprettify
rapidfuzz
nest-asyncio
