PyMuPDF
PyWavelets
PyWavelets
SpeechRecognition
aiosqlite
anthropic
beautifulsoup4
bs4
escodegen
esprima
fastapi
flask_socketio
fparser
fprettify
graphviz
instructor
jsonpatch
mammoth
markdownify
markupsafe
matplotlib
motor
nest-asyncio
networkx
numpy
open-fortran-parser
openai
pandas
pdfminer.six
pexpect
pinecone
puremagic
pydantic
pydub
pydub
pykeen
python-pptx
pyvis
rapidfuzz
rdflib
rdflib
requests
scikit-learn
scipy
sounddevice
soundfile
spacy
tenacity
tqdm
tree_sitter
uvicorn
youtube-transcript-api

--extra-index-url https://download.pytorch.org/whl/cpu
torch

transformers
sentence-transformers
langchain
